   

.carousel{
	max-inline-size: 1500px;
}

.main{
 min-block-size: 100px;
}

.icon-bar {
	color: black;
}

.botao-sanduiche{
	padding-block-end: -5px;
}

.navbar-header button:hover{
	background-color: rgba(0,0,0,0.3);
}

@media(max-inline-size:768px) {
    .carousel {
    	padding-block-start: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top  {
    	  
        padding: 5px 0;
    }
}

.produtos img{
	inline-size: 100%;
}



.navbar-brand{
	padding: 10px;   /*navebar superior top*/

}
