.carousel{
	padding-top: 90px;
}

.menu-superior{
	font-weight: bold;
	background-color: red;
}


.menu-superior{
	color: white;
}


.menu-superior{
	border-right: 5px solid white;
}
/*.corpobody{

		font-family: gotham, arial, helvetica, sans-serif;
		font-size: 18px;
		margin: 0;
		padding: 0;
		margin: 0 auto;
			height: 100%;
		} */	





.menu_superior{
     
	 color: white;
	}

 /*.carouselbanner{
  } /*coloquei borda no carrousel banner verificar na responsividade*/
   
 

.carousel{
	max-width: 1500px;
}

.main{
 min-height: 100px;
}

.icon-bar {
	color: black;
}

.botao-sanduiche{
	padding-bottom: -5px;
}

.navbar-header button:hover{
	background-color: rgba(0,0,0,0.3);
}

@media(max-width:768px) {
    .carousel {
    	padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top  {
    	  
        padding: 5px 0;
    }
}

.produtos img{
	width: 100%;
}



.navbar-brand{
	padding: 10px;   /*navebar superior top*/

}



