
.formulario{
    border-color: #C78C19;
    font-style: italic;
    text-align: center;
    
    padding: 65px;
    color: #C78C19;/*cor do texto menu*/
	text-decoration: none;   /* texto da categoria */
	font-size: 25px;
    
    
}

.rodape{
    background-color: rgba(36, 36, 37, 0.801);color:white;
text-align:center;
image-rendering: auto;
padding: 10px;
}







