
.formulario{
    border-color: #C78C19;
    font-style: italic;
    text-align: center;
    height: auto;
    padding: 65px;
    color: #C78C19;/*cor do texto menu*/
	text-decoration: none;   /* texto da categoria */
	font-size: 25px;
    
    
}

.city{
    color: rgb(167, 124, 45);
}






